body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.info-window {
  display:flex;
  flex-direction:column;
}

.hamburguer {
  background: #5ec5ec url("./img/bars-solid.svg") no-repeat center / 17px !important;
  position: absolute;
  right: -71px;
  height: 40px;
  width: 50px !important;
}